<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width,initial-scale=1' />
		<meta name='x-apple-disable-message-reformatting' />
		<title>Tarjeta Producto subatec</title>
		<style>
			body { margin: 0; padding: 0; } table, td, div, h1, p { font-family: Arial,
			sans-serif; } img { height: auto; display: block; } .p-0 { padding: 0; }
			.table { width: 100%; border-collapse: collapse; border: 0; border-spacing:
			0; background-color: #fff; } .table-in { width: 602px; border-collapse:
			collapse; border: 1px solid #cccccc; border-spacing: 0; text-align: left; }
			.tr-image td { padding: 40px 0 30px 0; background-color: #1b499f; } .titulo
			{ font-size: 24px; margin: 0 0 5px 0; } .subtitulo { font-size: 18px;
			margin: 0 0 20px 0; } .contenido { margin: 0 0 12px 0; font-size: 16px;
			line-height: 24px; } .link { margin: 0; font-size: 16px; line-height: 24px;
			} .link a { color: #1b499f; text-decoration: underline; }
		</style>
	</head>
	<body>
		<table class='table'>
			<tr>
				<td align='center' class='p-0'>
					<table class='table-in'>
						<tr class='tr-image'>
							<td align='center'>
								<img
									src='{{fotoTarjeta}}'
									alt=''
									width='300'
								/>
							</td>
						</tr>
						<tr>
							<td style='padding: 36px 30px 42px 30px'>
								<h1 class='titulo'>
									¡Gracias por participar en
									subastec!
								</h1>

								<h3 class='subtitulo'>
									{{titulo}}
								</h3>
								<p class='contenido'>
									El código de la Tarjeta que
									has ganado en subastec es el
									siguente:
									{{codigoTarjeta}}.
									¡Muchísimas gracias por
									participar en subastec y nos
									veremos en próximas
									apuestas!
								</p>

							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>